<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RolandGarros</display-name>

  
  <!-- Filtre pour gérer les accès à l'appli -->
  <!-- <filter>
    <filter-name>AccesFilter</filter-name>
    <filter-class>com.app.tennis.filters.AccesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccesFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  -->
 
 <!-- Fichier de configuration de spring -->
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-application-context.xml</param-value>
  </context-param>
 
 <!-- Charge la configuration spring au démarrage de l'appli -->
  <listener>
    <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  
  <!-- Application entry point -->
    <servlet>
        <servlet-name>tennis</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!-- MVC configuration -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:controller-context.xml</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
        <servlet-name>tennis</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

  
  <!-- Servlet pour gérer les inclusions de jquery et bootstrap -->
  <servlet>
    <servlet-name>WebjarsServlet</servlet-name>
    <servlet-class>org.webjars.servlet.WebjarsServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebjarsServlet</servlet-name>
    <url-pattern>/webjars/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
<servlet-name>CXFServlet</servlet-name>
<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
<load-on-startup>3</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>CXFServlet</servlet-name>
<url-pattern>/jax/*</url-pattern>
</servlet-mapping>
  
  <!-- JSF mapping 
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet> -->
   <!-- Map these files with JSF 
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping> -->
  
  
  <!-- Accès aux fichiers css et js -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>
  
  <!-- Inclusion systématique des tags sur toutes les pages jsp -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>include/tags.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  
  
</web-app>